body {
  background-color: #00CCCC;
}

h1 {
  font-family: verdana;
  color: white;
  font-size: 130px;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: verdana;
  color: white;
  font-size: 70px;
}

h3 {
  text-align: center; 
  font-family: verdana;
  color: white;
  font-size: 70px;
}

h4 {
  text-align: center;
  font-family: verdana;
  color: white;
  font-size: 70px;
}

p {
  font-family: verdana;
  color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

div.img {
  position: center;
  left: 70px;
  top: 0px;
  width: 100px
}

