/*styling for the homepage*/
body {
  background-color: #00CCCC ; <!--Cyan Background -->
}
/*--Welcome message header */
h1 {  
  color: white; 
  text-align: center; 
  font-family:  verdana;
  font-size: 8vw;  
  position: relative;
  top: 60px;
} 

/*--All 4 buttons*/
.button {
  font: bold 30px verdana;
  text-decoration: none;
  background-color: white;
  color: #00CCCC; /*Cyan*/
  padding: 80px 80px 80px 80px;
  border-top: 20px ;
  border-right:  20px ;
  border-bottom: 20px ;
  border-left: 20px ;
  position: relative;
  top: 140px; 
  left: 150px; 
}
