body {
  background-color: #00CCCC ; 
}
h1 {  
  color: white; 
  text-align: center; 
  font-family:  verdana;
  font-size: 10vw;  
  position: relative;
  top: 90px;
} 

.button {
  font: bold 11px verdana;
  text-decoration: none;
  background-color: white;
  color: #00CCCC;
  padding: 100px 100px 100px 100px;
  border-top: 300px ;
  border-right:  300px ;
  border-bottom: 300px ;
  border-left: 300px ;
  position: relative;
  top: 140px;
  }
