<!doctype html>
<html lang="en">
	<head>
	        <title>Masquerade Page</title>
		<center><img src="https://cdn.shopify.com/s/files/1/0939/9672/products/burlesque-boutique_womens_laser_cut_metal_tiara_venetian_pretty_masquerade_mask_1_large.png?v=1438090433" width=500 height=500></center>
	        <link rel="stylesheet" href="Masquerade.css">	
                <script src="Masquerade.js"></script>
	</head>

	<body>
		
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<h1 class="text-center">Masquerade</h1>
<h2 class="text-center">
A safe space to express your feelings
</h2>

<!--Add data binding user input form, connects with posts-->
<div class="container">
  <div id="posts">

    <form v-on:submit="addPost">
      <div class="form-group">
        <input v-model="newPost" class="form-control" placeholder="Add a message">

        </input>
      </div>

      <button class="btn btn-info">
        Post
      </button>
    </form>

    <div>
      <h1><small>Discussion</small></h1>
      <ol class="list-group">
        <li v-for="(post, index) in posts" class="list-group-item">
          {{ post.body }}
          <br>
          <small><i>
          
          <img src="http://emojipedia-us.s3.amazonaws.com/cache/cf/a7/cfa7260d3e30a05eb2e9a65ad3b4c90f.png" width=25 height=25>Connection
          <simple-counter></simple-counter> </i> </small>
          <small><i><img src="http://emojipedia-us.s3.amazonaws.com/cache/bf/85/bf856252e53eef91e78e925f2e6c8d47.png" width=22 height=22>Thanks for Sharing 
          <simple-counter></simple-counter> </i></small>
          <div id="result"></div>
        </li>
      </ol>
    </div>

  </div>
</div>



   </body>

</html>
