<!doctype html>
<html lang="en">
	<head>
		<title>Shoutout Page</title>
		<link rel="stylesheet" href="global_css_code.css">
		<script src="Shoutout.js"></script>>
	</head>

	<body>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
<h1 class="text-center">Shoutout</h1>
<h2 class="text-center">
Give Shoutout to someone who deserves recognition
</h2>

<!--Add data binding user input form, connects with posts-->
<div class="container">
  <div id="posts">

    <form v-on:submit="addPost">
      <div class="form-group">
        <input v-model="newPost" class="form-control" placeholder="Add a message">

        </input>
      </div>

      <button class="btn btn-info">
        Post
      </button>
    </form>

    <div>
      <h1><small>Discussion</small></h1>
      <ol class="list-group">
        <li v-for="(post, index) in posts" class="list-group-item">
          {{ post.body }}
          <br>
          <small><i><img src="http://emojipedia-us.s3.amazonaws.com/cache/66/8a/668a7a5c6d71647581834e48a06a2c49.png" width=22 height=22>You're Amazing! 
          <simple-counter></simple-counter> </i></small>
          <div id="result"></div>
        </li>
      </ol>
    </div>

  </div>
</div>
	</body>

</html>
